* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 100vh;
    background-image: url('img/5_background/complete_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: grayscale(70%);
}

canvas {
    background-color: black;
}